<!--
< % provide(:title, "Register") %>

<h2 style="text-align: center;">Register</h2>
<h4 style="text-align: center;">I want to be a ... </h4>

<br><br><br>
<form action="" method="post" style="margin: 0 auto;">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Age: <input type="text" name="age"><br>
  Zip Code: <input type="text" name="zip"><br>
  Country Of Origin: <input type="text" name="coo"><br>
  Goals: <textarea rows="8" cols="50" name="goals"></textarea><br>
  Languages Spoken: <input type="text" name="languages"><br>
  Bio: <textarea rows="8" cols="50" name="bio"></textarea><br>
  <input type="submit" value="Submit">
</form>
-->

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :age %>
      <%= f.number_field :age %>

      <%= f.label :zipcode %>
      <%= f.number_field :zipcode %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.label :language %>
      <%= f.text_field :language %>

      <%= f.label :goals %>
      <%= f.text_area :goals %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
