<% provide(:title, @user.name) %>
<% if @user.role.downcase == "mentee" %>
  <h1 style="text-align:center;"> Matched Mentors </h1>
<% else %>
  <h1 style="text-align:center;"> Matched Mentees </h1>
<% end %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.role %>
      <%= @user.role %>
    <% else %>
      <%= "Regular User" %>
    <% end %>
  </aside>
</div>

<br>
<div style="text-align:center;">
  <% if @user.role.downcase == "mentor" %>
    <ul style="font-size:17px">
    <% @mentees.each do |mentee| %>
      <p><li><%= mentee.name + " | " + mentee.email %></li></p>
    <% end %>
    </ul>
  <% elsif @user.role.downcase == "mentee" %>
    <ol style="font-size:17px">
      <% @mentors.each do |mentor| %>
      <p><li><%= mentor.name + " | " + mentor.email %></li></p>
      <% end %>
    </ol>
  <% else %>
    <%= "There is no matches for this user yet." %>
  <% end %>
</div>
